html, body{
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 100px
}

h1 {
  color: #75aa40;
  text-shadow: 2px 2px 4px white;
  text-align: left;
  padding: 0 50px;
  font-size: 50px;
}

li {
  padding: 5px;
  margin: 5px;
}

p {
  text-align: center;
}

img {max-width:100%;}

.backgroundcolor {
  background: linear-gradient(transparent, #C8A2C8)
} 

.header {
  padding: 10px 16px;
  /* background: bottom right url(../img/test.jpg); */
  background: linear-gradient(#C8A2C8, transparent);
  background-size: cover;
  color: #f1f1f1;
  margin: -9px;
  border-radius: 0 0 10% 10%;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

.recipes {
  text-align: center;
  padding: 5px;
  margin-top: 15px;
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  font-size: 50px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 22px;
  text-shadow: 2px 2px white;
}

.preference {
  text-align: center;
}

.checked {
  display: none;
}

.resize {
  /* max-width: 50%; */
  background-size: contain;
  box-shadow: 0 0 6px #C8A2C8;
  padding: 5px;
  margin: 5px;
  height: 400px;
}

.images {
  list-style-type: none;
  background: lightgrey;
  padding: 5px;
  margin: 5px;
  background: no-repeat center;
  background-size: contain;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-shrink: inherit;
  align-self: center;
  object-fit: contain;
 
}

.columns {
  padding: 5px;
  margin: 5px;

}


/* About page specific */

.about {
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.headshot {
  float: left;
  position: absolute;
  margin: 10px;
}
.headshotpic {
  width: auto;
  height: 400px;
  
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c8a2b5;
  color: white;
  text-align: center;
  margin: 5px 0;
  padding: 5px;
  line-height: 5px; 
  border: 2px solid #b5a2c8;
  height: 100%;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Instagram */
.fa-instagram {
  background: #8a3ab9;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 600px) {
  h1 {
    font-size: 200%;
    text-align: left;
    padding: 0;
  }

}

/* @media  (max-width: 1900px) {
  body {
    width: 100%;
  }

  .images {
    columns: 3;
    width: 100%;
  }
}

@media  (max-width: 1300px) {
  body {
    width: 100%;
  }

  .images {
    columns: 2;
    width: 100%;
  }
}

@media  (max-width: 870px) {
  body {
    width: 100%;
    padding-top: 150px;
    margin: 0;
    font-size-adjust: inherit;
  }

  .content  {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .images {
    columns: 1;
  }

  .resize {
    width: 92%;
    height: auto;
  }
} */