html, body{
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 100px
}

h1 {
  color: #b5c8a2;
  text-shadow: 2px 2px 4px white;
  text-align: center;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

p {
  text-align: center;
}

.backgroundcolor {
  background: linear-gradient(transparent, #C8A2C8)
} 

.header {
  padding: 10px 16px;
  /* background: bottom right url(../img/test.jpg); */
  background: linear-gradient(#C8A2C8, transparent);
  background-size: cover;
  color: #f1f1f1;
  margin: -9px;
  border-radius: 0 0 10% 10%;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

.recipes {
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
  font-size: 50px; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 22px;
  text-shadow: 2px 2px white;
}


.resize {
  width: 100%;
  max-width: 500px; 
  height: 100%;
  background-size: cover;
  box-shadow: 0 0 6px #C8A2C8;
  padding: 5px;
  margin: 5px;
}

.images {
  columns: 4;
  list-style-type: none;
  background: lightgrey;
  padding: 5px;
  margin: 5px;
  background: no-repeat center;
  background-size: contain;
  display: inline-block;
  
}

.columns {
  padding: 0;
  margin: 0;
  
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c8a2b5;
  color: white;
  text-align: center;
  margin: 5px 0;
  padding: 5px;
  line-height: 5px; 
  border: 2px solid #b5a2c8;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Instagram */
.fa-instagram {
  background: #8a3ab9;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media  (max-width: 1900px) {
  body {
    width: 100%;
  }

  .images {
    columns: 3;
    width: 100%;
  }
}

@media  (max-width: 1300px) {
  body {
    width: 100%;
  }

  .images {
    columns: 2;
    width: 100%;
  }
}

@media  (max-width: 870px) {
  body {
    width: 100%;
    padding-top: 150px;
    margin: 0;
    font-size-adjust: inherit;
  }

  .content  {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .images {
    columns: 1;
  }

  .resize {
    width: 92%;
    height: auto;
  }
}